/* Styles globaux */
body, html {
	background-color: #f4f4f4; /* Optionnel, une couleur de fond pour tout le site */
	height:           100%;
	margin:           0;
	padding:          0;
}

/* La carte elle-même */
#map {
	background-image: url('/wood_texture.jpg'); /* Image du bois */
	height:           100vh;
	width:            100vw;
}

/* Boîte des contrôles */
.controls, .leaflet-popup-content-wrapper {
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.10 );
	color: #f1f1f1;
}

.params{
	left:             20px;
	padding:          10px 15px;
	position:         absolute;
	top:              20px;
	z-index:          1000; /* Toujours au-dessus de la carte */
}

.infos{
    display: flex;
    flex-direction: column;
	width: 10vw;
	height: 15vh;
	right:            20px;
	padding:          10px 15px;
	position:         absolute;
	top:              20px;
	z-index:          1000; /* Toujours au-dessus de la carte */
    transition-duration: 0.5s;
}

.infos h3, .infos p {
    text-align: center;
}

.infos:hover{
	font-size: 2rem;
	width: 20vw;
	height: 30vh;
	background: rgba( 255, 255, 255, 0.65 );
	transition-duration: 0.5s;
	color: #3a3a3a;
}

/* Style du sélecteur */
.controls label {
	display:       block;
	font-size:     14px;
	font-weight:   bold;
	margin-bottom: 5px;
}

.controls input[type="range"] {
	cursor: pointer;
	width:  200px;
}

/* Style de la petite popup */
.leaflet-popup-close-button{
	display: none;
}
.leaflet-popup-tip{
	display: none;
}
.leaflet-popup-content{
	text-align: center;
}