/* Styles globaux */
body, html {
	background-color: #f4f4f4; /* Optionnel, une couleur de fond pour tout le site */
	height:           100%;
	margin:           0;
	padding:          0;
}

/* La carte elle-même */
#map {
	background-image: url('/wood_texture.jpg'); /* Image du bois */
	height:           100vh;
	width:            100vw;
}

/* Boîte des contrôles */
.controls {
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.10 );
	color:         #333;
}

.params{
	left:             20px;
	padding:          10px 15px;
	position:         absolute;
	top:              20px;
	z-index:          1000; /* Toujours au-dessus de la carte */
}

.infos{
	right:            20px;
	padding:          10px 15px;
	position:         absolute;
	top:              20px;
	z-index:          1000; /* Toujours au-dessus de la carte */
}

/* Style du sélecteur */
.controls label {
	display:       block;
	font-size:     14px;
	font-weight:   bold;
	margin-bottom: 5px;
}

.controls input[type="range"] {
	cursor: pointer;
	width:  200px;
}